.main__body {
  min-width: 360px;
  height: 100%;
}

.category__wrapper {
  padding-bottom: 38px;
}

.category__container {
  height: 80px;
  position: relative;
  padding-top: 5px;
}

.category__item {
  width: 266px;
  flex-shrink: 0;
  height: 50px;
  position: relative;
  transition: width 0.3s, transform 0.3s;
  pointer-events: none;
}

.category__item.spread {
  pointer-events: auto;
}

.category__item.invisible {
  height: 0;
}

.category__item:nth-of-type(1) {
  z-index: 3;
  width: 266px;
}

.category__item:nth-of-type(2) {
  z-index: 2;
  width: 256px;
  transform: translateY(-40px);
}

.category__item:nth-of-type(3) {
  z-index: 1;
  width: 246px;
  transform: translateY(-80px);
}

.favicon-img {
  width: 16px;
  height: 16px;
}

.main__footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}
